body{
	background: #aaaaaa
}

div {
	border: 10px solid #000000; 
	background: #dddddd;
	padding:0px;
	margin: 5px;
	margin-left: -5px;
	width: 480px;
	border-radius: 6px 80px 6px 80px;
	position: absolute;
}
