.c1{
	background-color: #00bfff;
	margin: 0% 1% 0% 1%;
	width: 20%;
	float: left;
	padding: 1%;		
	height: 100%;
}
.c2{
	background-color: #00bfff;
	margin: 0% 1% 0% 1%;
	width: 20%;
	float: left;
	padding: 1%;		
	height: 100%;
}

.c3{
	background-color: #00bfff;
	margin: 0% 1% 0% 1%;
	width: 20%;
	float: left;
	padding: 1%;		
	height: 100%;
}